.to-do{
    border-width: 2px;
    border-style: solid;
    border-color: blue;
}

.display-to-dos{
    border-width: 2px;
    border-style: solid;
    border-color: yellow;
}

.input{
    border-width: 2px;
    border-style: solid;
    border-color: pink;
}

input__form{
    float: left;
}